html{
    background: url(resume-back.jpg) no-repeat center center fixed; 
    background-size: cover;
}
.right-box{
    float: right;
	width: 300px;
	background: rgba(0, 0, 0, 0.7);
	padding: 40px;
	text-align: center;
	margin: auto;
	margin-top: 2%;
	margin-right: 2%;
	color: white;
	font-family: 'Century Gothic', sans-serif;
}
.content{
    line-height: 70%;
}
.job-description{
    text-align:justify;
}
.prof-pic{
    border-radius: 50%;
    height: 200px;
    width: 200px;
}
hr { 
    display: block;
    margin-top: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 2px solid #ccc;
} 
.information{
    float: left;
	width: 800px;
	background: rgba(0, 0, 0, 0.7);
	padding: 40px;
	margin: auto;
	margin-top: 2%;
	margin-left: 2%;
	margin-bottom: 2%;
	color: white;
    font-family: 'Century Gothic', sans-serif;
    text-align: justify;
}
.information h3{
    font-size: 20px;
    letter-spacing: 2;
    color: #ffffcc;
}
.information h1{
    font-weight: 50;
    font-size: 40px;
    letter-spacing: 4;
}
a{
    font-family: 'Helvetica Nueu',sans-serif;
    letter-spacing: 2px;
    color: #fa875a;
}
