html { 
    background: url(background.jpg) no-repeat center center fixed; 
    background-size: cover;
    font-family: 'Helvetica Nueu',sans-serif;
  }
.prof-box{
    width: 400px;
    height: 550px;
    background: rgba(0, 0, 0, 0.7);
    padding: 40px;
    color: white;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
}
.prof-description{
    line-height: 70%;
}
.prof-pic{
    border-radius: 50%;
    height: 200px;
    width: 200px;
}
.view-resume a{
    color: #fa875a;
}
h1{
    font-weight: 50;
    letter-spacing: 4;
    font-size: 40px;
}
p{
    font-weight: 200px;
    letter-spacing: 3;
}
.facebook a{
    font-size: 20px;
    color: lightskyblue;
}
.twitter a{
    font-size: 20px;
    color: lightblue;
}
.google a{
    font-size: 20px;
    color: lightcoral;
}
.gitlab a{
    font-size: 20px;
    color: lightsalmon;
}